# Data handling & Visualization
pandas
matplotlib
seaborn
scikit-learn

# LLM Frameworks & Tools
openai
langchain
langchain-community
# langchain-openai
langchain-google-genai
langchain-chroma
langchain-huggingface
sentence-transformers
transformers
torch

# Web App & Data Utilities
gradio
kagglehub

# Environment & Jupyter Integration
python-dotenv
ipykernel
ipywidgets